<section>
	<div class="row">
		<div class="col-md-4">
			<label class="grey-title">Latest Sprint</label>
		</div>
		<div class="col-md-6">
			<label class="grey-title">Action Items For You</label>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="thumbnail sprint-view-thumbnail">
				<h3 class="sprints-view-h1">{{latestSprint.title}}</h3>
					<div class="row">
						<div class="col-md-12">
							<a href="/#/{{latestSprint._id}}/comments" class="btn btn-primary sprint-view-a" role="button">Add Comments</a>
						</div>
					</div>
			</div>
		</div>
		
		<div class="row" ng-show="actionItemsList.length">
		<div class="col-md-8 pull-right" ng-repeat="actionItem in actionItemsList">
			<div class="thumbnail sprint-view-thumbnail">
				<lbael class="summary-label" style="padding: 10px 10px 10px 10px;">{{actionItem.title}}</label>	
			</div>
		</div>
		</div>
	</div>
</section>