<section ng-controller="Authentication">
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>

    <div class="alert alert-danger" role="alert" ng-show="errorMessage.length">{{errorMessage}}</div>
    <!-- SIGNUP FORM -->
    <form name="signupForm" ng-submit="signup(signupForm.$valid)" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : signupForm.email.$invalid && !signupForm.email.$pristine && signupForm.email.$touched }">
            <label>Email</label>
            <input type="email" name="email" class="form-control" ng-model="user.email" required>
            <p ng-show="signupForm.email.$invalid && !signupForm.email.$pristine && signupForm.email.$touched" class="help-block">Enter a valid email.</p>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : signupForm.password.$invalid && !signupForm.password.$pristine && signupForm.password.$touched }">
            <label>Password</label>
            <input type="password" class="form-control" name="password" ng-model="user.password" required>
            <p ng-show="signupForm.password.$invalid && !signupForm.password.$pristine && signupForm.password.$touched" class="help-block">You must enter a password </p>
        </div>

        <button type="submit" class="btn btn-warning btn-lg" ng-disable="signupForm.$invalid">Signup</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/#/signin">Login</a></p>
    <p>Or go <a href="/#/">home</a>.</p>
</div>

</div>
</section>