<html>
<head>
    <meta charset="UTF-8">
     <title>RetrospectionTool</title>
     <link rel="stylesheet" href="/todomvc-common/base.css">
     <link rel="stylesheet" href="/todomvc-app-css/index.css">
     <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
     <link rel="stylesheet" href="/assets/css/animation.css">
     <link rel="stylesheet" href="/assets/css/index.css">
     <link rel="stylesheet" href="/angular-material/angular-material.css">
</head>
<body  ng-app="Retrospection">
    
    <div ng-include="'/views/header.html'"></div>
    
    <div id="content-views" style="position:relative; max-width: 1200px;">
        <div ui-view class="animate" style="padding-top: 99px;"></div>
    </div>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/build/angular-ui-router.js"></script>
    <script src="/angular-socket-io/socket.min.js"></script>
    <script src="/angular-animate/angular-animate.min.js"></script>
    <script src="/angular-cookies/angular-cookies.min.js"></script>
    <script src="/angular-aria/angular-aria.js"></script>
    <script src="/angular-material/angular-material.js"></script>

    <!-- You will not able able to find socket.io.js file but it automatically included from this path
    Helpful link : http://stackoverflow.com/questions/14219791/node-js-app-cant-find-socket-io -->
    <script src="/socket.io/socket.io.js"></script>

    <script src="app.js"></script>
    <script src="services/comments.js"></script>
    <script src="services/sprint.js"></script>
    <script src="services/socket.js"></script>
    <script src="services/authentication.js"></script>
    <script src="services/actionItems.js"></script>
    <script src="routes/routes.js"></script>
    <script src="controllers/comments.js"></script>
    <script src="controllers/sprint.js"></script>
    <script src="controllers/summary.js"></script>
    <script src="controllers/actionItems.js"></script>
    <script src="controllers/authentication.js"></script>
    <script src="controllers/header.js"></script>
    <script src="controllers/profile.js"></script>
    <script src="controllers/passwordHandler.js"></script>



</body>
</html>