<section>
	
	<div id="todoapp">
		<header id="header">
			<h1 ng-show="isOwner">Add action items</h1>
			<h1 ng-show="!isOwner">Action items</h1>
			<div ng-show="isOwner">
			<div class="alert alert-danger" role="alert" ng-show="actionItemNullError.length">{{actionItemNullError}}</div>
			<div class="alert alert-danger" role="alert" ng-show="actionItemOwnerError.length">{{actionItemOwnerError}}</div>
			<form id="todo-form" style="margin-bottom:0px" ng-submit="addActionItem()">
				<input id="new-todo" placeholder="Action Item" ng-model="newActionItem.title" autofocus autocomplete="off" style="width:70%"></input>
				<!-- ng-option is "label" for "value" in "array"  -->
				<select class="form-control" style="display:inline; width:25%;" ng-model="newActionItem.owner" ng-options="teamMember.email for teamMember in teamMembers">
					<option value="">-- Owner --</option>
				</select>
			</form>
			</div>
		</header>
			<ul id="todo-list">
				<li ng-repeat="item in actionItemsList track by $index" ng-class="{ 'action-item-complete':item.status }">
					<div class="row view">
						<label class="col-md-7" style="font-weight: 200;">{{item.title}}</label>
  						<label class="col-md-4" style="font-weight: 200;">{{item.owner}}</label>
						<button ng-show="isOwner" class="destroy col-md-1" ng-click="removeActionItem(item)"></button>
					</div>
				</li>
			</ul>
	</div>
</section>