<section>
    <div class="alert alert-danger" role="alert" ng-show="!isValidToken">It seems either you have entered a wrong url or your password reset link is expired. Please generate another reset request below.</div>

    <!-- Update Password Form if it is a valid requestToken -->
    <div class="col-lg-4 col-md-5 col-sm-10 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-1 summaryView-section">
        <div ng-show="isValidToken">
            <h2><span class="fa fa-sign-in"></span> Update Your Password</h2>
            <div class="alert alert-danger" role="alert" ng-show="errorMessage.length">{{errorMessage}}</div>

            <!-- LOGIN FORM -->
            <form name="updateForm" ng-submit="updatePassword(updateForm.$valid)" ng-hide="resetRequestSuccessStatus.length" novalidate>
                <div class="form-group" ng-class="{ 'has-error' : updateForm.password.$invalid && !updateForm.password.$pristine && updateForm.password.$touched }">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" ng-model="newPassword.value" required>
                    <p ng-show="updateForm.password.$invalid && !updateForm.password.$pristine && updateForm.password.$touched" class="help-block">You must enter a password </p>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : updateForm.confirmPassword.$invalid && !updateForm.confirmPassword.$pristine && updateForm.confirmPassword.$touched }">
                    <label>Confirm Your Password</label>
                    <input type="password" class="form-control" name="confirmPassword" ng-model="newPassword.confirmValue" required>
                    <p ng-show="updateForm.confirmPassword.$invalid && !updateForm.confirmPassword.$pristine && updateForm.confirmPassword.$touched" class="help-block">You must enter a password </p>
                </div>

                <button type="submit" class="btn btn-warning btn-lg" ng-disable="updateForm.$invalid">Update Password</button>

            </form>
            <a href="/#/signin" class="btn btn-warning btn-lg" style="margin-bottom:10px;" ng-show="resetRequestSuccessStatus.length">Login</a>
            <br>
            <p style="color:red" ng-show="resetRequestErrorStatus.length">{{resetRequestErrorStatus}}</p>
            <p style="color:green" ng-show="resetRequestSuccessStatus.length">{{resetRequestSuccessStatus}}</p>
        </div>

        <!-- Reset Password page url if the token expired or invalid -->
        <a href="/#/resetpassword" class="btn btn-warning btn-lg" style="margin-bottom:10px;" ng-show="!isValidToken">Reset Password</a>
    </div>
</section>